.grid_item {
  border: 0px solid var(--color-border);
  position: relative;
  height: 455px; /*455px , 50vh*/
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .3s;
}
.grid_item:hover {
  border: 8px solid var(--color-border);
  padding: 8px;
  /*height: 600px;*/
  transition: .5s;
}
.grid_item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    0deg,
    rgba(0 0 0 / .6) 0%,
    rgba(255 255 255 / 0) 40%
  );
  transition: 200ms;
}
.grid_item:hover::before {
  background: var(--color-hover);/*linear-gradient(
    0deg,
    rgba(0 0 0 / .6) 0%,
    rgba(255 255 255 / 0) 40%
  ); Replace with --color-hover if no height change*/
  transition: 200ms;
}
.grid_item:hover .item_title {
  margin-right: 2rem;
  transition: .5s;
}
.grid_item:hover .item_subtitle {
  margin-right: 2rem;
  transition: .8s;
}

.item_title_container {
  margin: 1rem; /*1rem , 2vh*/
  position: absolute;
  bottom: 0;
  right: 0;
  
  text-align: end;
}
.item_title {
  transition: .5s;
}
.item_subtitle {
  transition: .8s;
}

@media (width < 1280){
  /*Change vh to rem*/
}