:root {
  --fs-title: clamp(40px, calc(2.5rem + ((1vw - 7.8px) * 2.1053)), 64px);


  --color-sub: #FF6565;
  --color-bg: #101C10;
  --color-border: rgb(243, 243, 243);
  --color-hover: rgba(114, 114, 114, 0.205);
}

h2 {
  font-family: 'InriaBold';
  font-size: 4rem; /*4rem to 2.5rem , 7vh*/
  line-height: 2rem; /*2rem , 3vh*/
}
h3 {
  font-size: 1.8rem; /*1.8rem to 0rem , 3.2vh*/
  color: var(--color-sub);
}

.page_wrapper {
  height: 100%;
  background-color: var(--color-bg);
}

.grid_main {
  display: grid;
  grid-template-columns: 100%;
}

.grid_item {
  border: 0px solid var(--color-border);
  position: relative;
  height: 455px; /*455px , 50vh*/
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 100ms;
}
.grid_item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    0deg,
    rgba(0 0 0 / .6) 0%,
    rgba(255 255 255 / 0) 40%
  );
  transition: 200ms;
}
.grid_item:hover {
  border: 8px solid var(--color-border);
  transition: 200ms;
}
.grid_item:hover::before {
  background: var(--color-hover);
  transition: 200ms;
}
.grid_item:hover .item_title {
  margin-right: 2rem;
  transition: .5s;
}
.grid_item:hover .item_subtitle {
  margin-right: 2rem;
  transition: .8s;
}

.item_title_container {
  margin: 1rem; /*1rem , 2vh*/
  position: absolute;
  bottom: 0;
  right: 0;
  
  text-align: end;
}
.item_title {
  transition: .5s;
}
.item_subtitle {
  transition: .8s;
}

@media (width < 1280){
  /*Change vh to rem*/
}
